<section class="service-section py-4" id="projects">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="mb-3 text-dark text-center">Nuestros Servicios</h2>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail card-photo">
                        <img src="assets/img/educacion-canina.jpg" class="img-fluid" alt=" thumbnail">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-secondary">Educación canina a domicilio</h4>
                        <div class="collapse-content">
                            <div class="card-text collapse" id="collapseContent1">
                                <p>Este servicio está dirigido a todas
                                    aquellas familias que quieren mejorar la convivencia con sus perros.
                                    El objetivo de estas sesiones es poder comprender y mejorar las necesidades básicas
                                    de
                                    nuestro perro para así poder ayudarlo a gestionar los problemas conductuales.
                                </p>
                                <p><b>¿Qué incluye este servicio?</b></p>
                                <ul>
                                    <li>Valoración previa a través de un formulario + sesión individual de 60 minutos
                                        aproximadamente + pautas a seguir + seguimiento del caso</li>
                                </ul>
                                <p>Precio del servicio: 60€ dentro de la provincia de Barcelona, fuera de la provincia
                                    consultar precio.
                                </p>
                            </div>
                            <a class="btn btn-primary btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent1" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/clases-cachorros-3.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-secondary">Sesiones de cachorros</h4>
                        <div class="collapse-content">
                            <div class="card-text collapse" id="collapseContent2">
                                <p>Aun que todas las etapas de
                                    desarrollo
                                    de nuestros perros son importantes, las primeras etapas de vida son fundamentales ya
                                    que
                                    generan su identidad y su forma de relacionarse con el mundo,
                                    Por eso empezar desde una fase temprana a entender las necesidades de nuestros
                                    perros nos ayudan a saber guiarles y ser el mejor referente que ellos puedan tener.
                                </p>
                                <p><b>¿Qué incluye este servicio?</b></p>
                                <ul>
                                    <li>Valoración previa a través de un formulario + sesión individual de 60 minutos
                                        aproximadamente + pautas a seguir + seguimiento del caso</li>
                                </ul>
                                <p>Precio del servicio: 60€ dentro de la provincia de Barcelona, fuera de la provincia
                                    consultar precio.
                                </p>
                            </div>
                            <a class="btn btn-primary btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent2" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/grupos-sociales-1.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-secondary">Grupos sociales</h4>
                        <div class="collapse-content">
                            <div class="card-text collapse" id="collapseContent">
                                <p>Tiempo para disfrutar, conectar con
                                    el
                                    entorno y aprender. Desde educándonos creemos que esta actividad es imprescindible
                                    para
                                    nuestros perros. Creamos un ambiente favorable adaptado a cada perro, desde perros
                                    pequeños, grandes, jóvenes o séniors.
                                    El objetivo de este servicio es que nuestros perros ganen experiencias positivas,
                                    conecten con otros individuos y sobre todo que se lo pasen bien. Tanto los perros
                                    como
                                    los humanos somos seres sociables, por eso este tipo de actividad nos ayuda en
                                    nuestro
                                    día a día ganando herramientas sociales y cumpliendo nuestras necesidades más
                                    básicas.
                                </p>
                                <p>Precio del servicio: 15€ si asistes con un perro, 23€ si asistes con dos perros. </p>
                            </div>
                            <a class="btn btn-primary btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/preadopcion-1.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-secondary">Pre adopción</h4>
                        <div class="collapse-content">
                            <div class="card-text collapse" id="collapseContent4">
                                <p>Adoptar es un gran paso para
                                    nuestras
                                    vidas, por eso en este proceso queremos ayudaros y daros nuestras mejores
                                    herramientas
                                    para elegir con que tipo de amigo peludo pasar el resto de su vida.
                                    Nos guiamos en función del modo de vida, entorno y necesidades del binomio, y así
                                    poder
                                    guiaros en una nueva adaptación para ambos.
                                </p>
                                <p><b>¿Qué incluye este servicio?</b></p>
                                <ul>
                                    <li>Asesoramiento online 60 minutos 30€</li>
                                    <li>Asesoramiento presencial 60 minutos + pautas 50€ </li>
                                </ul>
                            </div>
                            <a class="btn btn-primary btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent4" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/alimentacion-1.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-secondary">Alimentación</h4>
                        <div class="collapse-content">
                            <div class="card-text collapse" id="collapseContent5">
                                <p>En educándonos damos una gran
                                    importancia al tipo de alimento que ingerimos ya que somos lo que comemos. Los
                                    alimentos
                                    nos aportan una gran cantidad de beneficios en nuestra vida siendo los más
                                    importantes
                                    la salud mental y física, por eso queremos ayudarte a entender y aprender que tipo
                                    de
                                    alimento es el ideal para vosotros, dependiendo del tipo de perro que tengamos.
                                    Por nuestra experiencia apostamos por la alimentación natural, por ello contamos con
                                    este servicio en el que creamos dietas personalizadas ayudándoos en la transición
                                    junto
                                    con un seguimiento continuo durante el proceso.

                                </p>
                                <p><b>¿Qué incluye este servicio?</b></p>
                                <ul>
                                    <li>Asesoramiento con sesión online de 60 minutos 30€ </li>
                                    <li>Asesoramiento con sesión online de 60 minutos + valoración previa a través de un
                                        formulario +dieta personalizada 45€</li>
                                    <li>Asesoramiento con sesión online de 60 minutos + Valoración previa a través de un
                                        formulario + dieta personalizada + seguimiento de un mes vía correo electrónico
                                        60€ </li>
                                </ul>
                            </div>
                            <a class="btn btn-primary btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent5" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>