<footer class="footer  small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div>
    <span><a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Política de privacidad</a></span>
</footer>


<!-- Privacy-policy Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">POLÍTICA DE PRIVACIDAD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>El presente Política de Privacidad establece los términos en que Educandonos usa y protege la
                    información que es
                    proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida
                    con la
                    seguridad de los datos de sus usuarios.
                </p>
                <p>Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado,
                    lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.</p>

                <p>Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le
                    recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con
                    dichos cambios.</p>

                <h4 class="text-center pt-4">Información que es recogida</h4>

                <p class="pt-2">Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de
                    contacto
                    como
                    su
                    dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser
                    requerida
                    información específica para procesar algún pedido o realizar una entrega o facturación.</p>

                <h4 class="text-center pt-4">Uso de la información recogida</h4>

                <p class="pt-2">Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio
                    posible,
                    particularmente
                    para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos
                    y
                    servicios.</p>

                <p>Educandonos está altamente comprometido para cumplir con el compromiso de mantener su información
                    segura. Usamos
                    los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún
                    acceso no
                    autorizado.</p>

                <h4 class="text-center pt-4"> Control de su información personal</h4>

                <p class="pt-2">Esta compañía no venderá, cederá ni distribuirá la información personal que es
                    recopilada sin su
                    consentimiento,
                    salvo que sea requerido por un juez con un orden judicial.</p>

                <p>Educandonos Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en
                    cualquier
                    momento.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>