<!-- About-->
<section class="projects-section bg-light" id="about">
    <div class="container px-4 px-lg-5 about-container text-center">
        <!-- Featured Project Row-->
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-xl-9 col-lg-9">
                <h2 class="text-dark pb-3">¿Cómo nace educándonos?</h2>
                <!-- <img class="img-fluid mb-3 mb-lg-0" src="assets/img/nuestro-proyecto.jpg" alt="..." /> -->
            </div>
            <div class="col-xl-9 col-lg-9">
                <div class="featured-text  text-lg-left">
                    <p class="text-dark-50 mb-0">Educándonos empieza con la unión de una gran familia entre humanos y
                        perros que a más de 600 kilómetros de distancia, había empezado un camino muy parecido, tratando
                        de buscar la manera de comprender y mejorar la relación que tenían con sus compañeros de vida.
                    </p>
                    <p>
                        Nosotros también estábamos perdidos, sin saber qué hacer ni por dónde empezar, ese
                        desconocimiento hizo que nos planteáramos que había llegado el momento de formarnos para
                        aprender y mejorar todo aquello que nos cuestionábamos.</p>
                    <img class="img-fluid mb-3 mb-lg-0" src="assets/img/about-img.jpg" alt="..." />
                    <p>
                        Desde entonces, no hemos dejado de formarnos y es que nuestro amor y pasión por los animales se
                        convirtió en el motor de nuestra vida. Fue entonces cuando comprendimos que queríamos dedicar
                        nuestras vidas a guiar a otras familias hacia una educación amable.</p>
                    <p>
                        Confiamos en lo que hacemos y en como lo hacemos, seguimos leyendo información actualizada,
                        haciendo cursos y compartiendo casos con otros compañeros profesionales. De este modo aprendemos
                        cada día para ofrecer el mejor servicio a nuestros queridos amigos peludos y por supuesto a las
                        maravillosas personas que los acompañan.</p>


                    <p class="mt-4">
                        Educándonos nace por la necesidad actual de redefinir los conceptos con los que hemos estado
                        relacionándonos con los perros, derribando viejas creencias y metodologías en las que el control
                        sobre el perro prevalece por delante de la comprensión y el respeto por él.</p>
                    <p>
                        Por eso os ayudamos a comprender por que vuestro compañero se comporta de una determinada manera
                        en cada una de las situaciones del día a día, para que así podáis acompañarle y guiarle en su
                        desarrollo.
                    </p>
                    <p>Nuestro objetivo es conseguir que os convirtáis en el mejor referente que vuestro perro pueda
                        tener y así podáis disfrutar juntos de el maravilloso camino que habéis empezado. </p>
                    <img class="img-fluid mb-3 mb-lg-0" src="assets/img/nuestro-proyecto.jpg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects-section" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div class="col-xl-9 col-lg-9">
                <h2 class="text-dark pb-3">¿Cómo trabajamos?</h2>
            </div>

            <div class="col-xl-9 col-lg-9">
                <div class="featured-text-2 text-lg-left">
                    <p class="text-dark-50">En educándonos nos desplazamos a vuestro domicilio, para poder
                        conocer
                        a la familia en zonas conocidas y seguras, de esta manera podemos analizar cómo se
                        desenvuelven
                        en las situaciones más complejas del día a día y así poder ajustar el trabajo de manera
                        específica para cada caso concreto.
                    </p>
                    <p class="">
                        Nuestro tarea es ayudaros a mejorar vuestra relación ofreciéndoos herramientas desde una
                        perspectiva sencilla. Damos mayor importancia a las necesidades más básicas del binomio
                        humano-perro poniendo especial atención en los pequeños detalles de la comunicación canina,
                        que nos ayudan a analizar los estados emocionales de nuestros compañeros, ya que en la
                        mayoría
                        de los casos están detrás de los problemas de conducta.</p>
                    <p>
                        Todo esto lo trabajamos desde el respeto, la confianza y la conexión de ambos individuos,
                        llevando lo aprendido a la práctica diaria sin la necesidad de un apoyo continúo.
                    </p>
                    <img class="img-fluid mb-3 mb-lg-0 img-size" src="assets/img/como-trabajamos-1.jpg" alt="..." />

                </div>
            </div>
        </div>
    </div>
</section>