<section class="masthead" id="home">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class=" container-jumbotron">
            <h3 class="text-white h3-margin">¿Te gustaría entender ciertos comportamientos de tu perro y mejorar vuestra
                convivencia?
            </h3>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="#contact" role="button">Contactános</a>
            </p>
        </div>
    </div>
</section>

<section class="about-section" id="home-description">
    <div class=" container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center text-center">
            <div class="col-lg-8">
                <!-- <h2 class="text-white mb-4">¿Te gustaría entender ciertos comportamientos de tu perro y mejorar vuestra
                    convivencia?</h2> -->
                <h3 class="text-dark mb-4"> Como casi todos los que decidimos compartir nuestra vida con un compañero
                    peludo, algún día llega
                    ese momento en el que te preguntas:</h3>
                <p class="text-dark-50">¿Porque mi perro se comporta así?</p>
                <p class="text-dark-50">¿Como puedo ayudarle a mejorar su vida?</p>
                <p class="text-dark-50">¿Como podemos mejorar nuestra relación?</p>
                <p class="text-dark-50">Un sinfín de preguntas que sin duda son más fáciles de resolver con el apoyo de
                    un profesional.</p>

                <p class="text-dark-50">Por eso estamos aquí, en primer lugar, para tranquilizarte y decirte que todas
                    esas dudas son
                    completamente normales.<br>
                    Aunque hace mucho tiempo que el ser humano comparte su vida al
                    lado de los canidos, solo hace unas pocas décadas en las que hemos empezado a estudiar e intentar
                    comprender el complejo mundo comunicativo y emocional que rodea a los perros.</p>
                <p class="text-dark-50">Por eso, si decides dar ese primer gran paso por tu maravilloso amigo peludo,
                    estaremos encantados
                    de acompañarte en este proceso de aprendizaje, en el que aprenderás infinidad de cosas sobre el
                    complejo mundo que rodea al perro y así poder mejorar vuestra relación y convivencia.</p>
            </div>
        </div>
    </div>
</section>

<!--About-->
<app-about></app-about>

<!--Service-->
<app-service></app-service>

<!--Contact-->
<app-contact></app-contact>

<!-- <app-privacy></app-privacy> -->