<section class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class=" container-jumbotron">
            <p class="text-white">¿Te gustaría entender ciertos comportamientos de tu perro y mejorar vuestra
                convivencia?
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</section>

<section class="about-section text-center">
    <div class=" container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">¿Te gustaría entender ciertos comportamientos de tu perro y mejorar vuestra
                    convivencia?</h2>
                <p class="text-white-50">
                    Como casi todos los que decidimos compartir nuestra vida con un compañero peludo, algún día llega
                    ese momento en el que te preguntas: ¿porque mi perro se comporta así? ¿Como puedo ayudarle a mejorar
                    su vida? ¿Como podemos mejorar nuestra relación?
                    Un sinfín de preguntas que sin duda son más fáciles de resolver con el apoyo de un profesional.
                    Por eso estamos aquí, en primer lugar, para tranquilizarte y decirte que todas esas dudas son
                    completamente normales. Y es que, aunque hace mucho tiempo que el ser humano comparte su vida al
                    lado de los canidos, solo hace unas pocas décadas en las que hemos empezado a estudiar e intentar
                    comprender el complejo mundo comunicativo y emocional que rodea a los perros.
                    Por eso, si decides dar ese primer gran paso por tu maravilloso amigo peludo, estaremos encantados
                    de acompañarte en este proceso de aprendizaje, en el que aprenderás infinidad de cosas sobre el
                    complejo mundo que rodea al perro y así poder mejorar vuestra relación y convivencia.

                </p>
            </div>
        </div>
        <img class="img-fluid" src="assets/img/dog.jpg" alt="..." />
    </div>
</section>
<!-- <section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">¿Cómo nace EduCANdonos?</h2>
                <p class="text-white-50">
                    Educandonos nace con la unión de una gran familia entre humanos y perros que ha más de 600
                    kilómetros de distancia habían empezado un camino muy parecido, tratando de buscar la manera de
                    comprender y mejorar la relación que teníamos con nuestros compañeros de vida.

                </p>
            </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
    </div>
</section> -->
<!-- <section class="projects-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
         Project One Row-->
<!-- <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">¿Cómo nace EduCANdonos?</h4>
                            <p class="mb-0 text-white-50">Educandonos nace con la unión de una gran familia entre
                                humanos y perros que ha más de 600
                                kilómetros de distancia habían empezado un camino muy parecido, tratando de buscar la
                                manera de
                                comprender y mejorar la relación que teníamos con nuestros compañeros de vida.
                                Nosotros también nos sentimos perdidos, sin saber que hacer ni
                                por dónde empezar, ese desconocimiento hizo que nos plantearnos que había llegado el
                                momento de formarnos para aprender y mejorar todo aquello que nos cuestionábamos.
                                Desde entonces, no hemos dejado de formarnos y es que, nuestro amor y pasión por los
                                animales, se ha convertido en el motor de nuestra vida. Confiamos en lo que hacemos y en
                                cómo lo hacemos, seguimos leyendo información actualizada, haciendo cursos y
                                compartiendo casos con otros compañeros. De este modo, aprendemos cada día para ofrecer
                                el mejor servicio a nuestros queridos amigos peludos y por supuesto a las maravillosas
                                personas que los acompañan.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <p class="mb-0 text-white-50">
                                Nuestro objetivo es darte las herramientas para que puedas comprender las necesidades
                                básicas del binomio humano-perro dando mayor importancia al respeto, la confianza y la
                                conexión de ambos individuos.
                                Nuestra tarea principal es el aprendizaje, aprender a observar, analizar su estado
                                emocional, comunicarnos de manera clara con nuestros compañeros, y llevar todo lo
                                aprendido a la práctica diaria sin la necesidad de necesitar un apoyo continuo, viendo
                                todo desde una perspectiva sencilla.
                            </p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Projects-->
<section class="projects-section bg-dark" id="about">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-7 col-lg-7">
                <h4 class="text-white pb-3 text-center">¿Cómo nace EduCANdonos?</h4>
                <img class="img-fluid mb-3 mb-lg-0" src="assets/img/friend_dog.jpg" alt="..." />
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <p class="text-white-50 mb-0">Educandonos nace con la unión de una gran familia entre humanos y
                        perros que ha más de 600 kilómetros de distancia habían empezado un camino muy parecido,
                        tratando de buscar la manera de comprender y mejorar la relación que teníamos con nuestros
                        compañeros de vida.

                        Nosotros también nos sentimos perdidos, sin saber que hacer ni por dónde empezar, ese
                        desconocimiento hizo que nos plantearnos que había llegado el momento de formarnos para aprender
                        y mejorar todo aquello que nos cuestionábamos.
                        Desde entonces, no hemos dejado de formarnos y es que, nuestro amor y pasión por los animales,
                        se ha convertido en el motor de nuestra vida. Confiamos en lo que hacemos y en cómo lo hacemos,
                        seguimos leyendo información actualizada, haciendo cursos y compartiendo casos con otros
                        compañeros. De este modo, aprendemos cada día para ofrecer el mejor servicio a nuestros queridos
                        amigos peludos y por supuesto a las maravillosas personas que los acompañan.
                        Nuestro objetivo es darte las herramientas para que puedas comprender las necesidades básicas
                        del binomio humano-perro dando mayor importancia al respeto, la confianza y la conexión de ambos
                        individuos.
                        Nuestra tarea principal es el aprendizaje, aprender a observar, analizar su estado emocional,
                        comunicarnos de manera clara con nuestros compañeros, y llevar todo lo aprendido a la práctica
                        diaria sin la necesidad de necesitar un apoyo continuo, viendo todo desde una perspectiva
                        sencilla.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Link with href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Button with data-bs-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
    </div>
</div> -->
<section class="bg-dark py-4" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3 text-white text-center">Nuestros Servicios</h2>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/walking-dog.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-secondary">What is Lorem Ipsum</h3>
                        <div class="collapse-content">
                            <p class="card-text collapse" id="collapseContent">Lorem Ipsum is
                                simply dummy text of the
                                printing
                                and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text</p>
                            <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/run-dog.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-secondary">What is Lorem Ipsum</h3>
                        <div class="collapse-content">
                            <p class="card-text collapse" id="collapseContent2">Lorem Ipsum is
                                simply dummy text of the
                                printing
                                and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text</p>
                            <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent2" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/dogs.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-secondary">What is Lorem Ipsum</h3>
                        <div class="collapse-content">
                            <p class="card-text collapse" id="collapseContent">Lorem Ipsum is
                                simply dummy text of the
                                printing
                                and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text</p>
                            <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/puppy.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-secondary">What is Lorem Ipsum</h3>
                        <div class="collapse-content">
                            <p class="card-text collapse" id="collapseContent">Lorem Ipsum is
                                simply dummy text of the
                                printing
                                and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text</p>
                            <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/puppy.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-secondary">What is Lorem Ipsum</h3>
                        <div class="collapse-content">
                            <p class="card-text collapse" id="collapseContent">Lorem Ipsum is
                                simply dummy text of the
                                printing
                                and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text</p>
                            <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <img src="assets/img/puppy.jpg" class="img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-secondary">What is Lorem Ipsum</h3>
                        <div class="collapse-content">
                            <p class="card-text collapse" id="collapseContent">Lorem Ipsum is
                                simply dummy text of the
                                printing
                                and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text</p>
                            <a class="btn btn-flat p-1 my-1 mr-0 mml-1 collapsed" data-bs-toggle="collapse"
                                href="#collapseContent" role="button" aria-expanded="false"
                                aria-controls="collapseContent">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black " id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Dirección</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Pere Riera, Vic</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">educandonos@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Telèfono</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div>
</footer>